:root {
  --background-color: #ffffff;
  --secondary-color: #797979;
  --very-light-pinki: #c7c7c7;
  --text-input-field: #f7f7f7;
  --primary-color: #acd9b2;
  --dark-color: #404040;
  --xsm: 12px;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
.container-content {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: start center;
}
/* Create password */
.create-password-container {
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  width: 300px;
}
.logo-img {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
}
.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}
.subtitle {
  color: var(--very-light-pinki);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 1rem;
}

.primary-btn {
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
  color: var(--background-color);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.submit-btn {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.subtitle-pass {
  margin-bottom: 2rem;
}
/* Reset password*/

.email-confirmation-container {
  text-align: center;
  margin-bottom: 1.5rem;
  display: grid;
}
.reset-password-container {
  display: grid;
  place-items: center;
  grid-template-rows: auto 2fr auto;
  width: 300px;
}
.logo-container {
  display: grid;
}
.subtitle-reset-password {
  margin-bottom: 0;
}
.email-background {
  border-radius: 50%;
  background: var(--text-input-field);
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.email-img {
  width: 60%;
}
.login-btn {
  margin-bottom: 2rem;
}
.resend-link-container {
  font-size: var(--sm);
}
.resend-text {
  color: var(--very-light-pinki);
  padding-right: 0.5rem;
}
.resend-link {
  color: var(--primary-color);
}
/* review classes container to unify properties */

/* Login */
.login-container {
  display: grid;
  width: 300px;
  height: 80%;
}
.recover-password-link {
  text-decoration: none;
  align-self: center;
  padding: 0.5rem;
  font-size: var(--xsm);
  color: var(--primary-color);
}

.secondary-btn {
  border-color: var(--primary-color);
  border-style: solid;
  background: transparent;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  border-radius: 0.5rem;
  color: var(--primary-color);
  margin: 1.5rem auto;
}
.log-btn {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* section {
  width: 300px;
  display: grid;
  height: 80%;
} */
.account-title {
  text-align: start;
  font-size: var(--md);
  margin-bottom: 2rem;
  align-self: end;
}
.btn-spacing {
  margin: 2rem auto;
}
form p {
  margin-bottom: 1.5rem;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fill, 240px);  */
  /* si no se cuantas cards son, las pone una al lado de la otra*/
  align-items: center;
  /*  border: 1px solid red; */
  margin: 2rem;
  column-gap: 2rem;
  row-gap: 1rem;
  place-content: center;
}
.container-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.container-info {
  display: flex;
  flex-direction: column;
}
.container-info p {
  margin: 0;
}
.container-info p:first-child {
  font-size: var(--lg);
}
.price {
  font-weight: 700;
}
.description {
  color: var(--secondary-color);
  font-weight: 400;
}
.container-shopping-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card-image {
  border-radius: 10%;
}

/* Dropdown menu */

.menu {
  height: auto;
  border: 1px solid var(--very-light-pinki);
  background: var(--background-color);
  border-radius: 10%;
  margin: 1rem;
  padding: 2rem;
}
.desktop-menu-container {
  width: 120px;
}

.menu-content {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desktop-menu-content {
  align-items: end;
  padding-left: 0;
}
.menu a {
  text-decoration: none;
  color: var(--secondary-color);
}
.desktop-menu-content li:nth-child(2) {
  padding-bottom: 1rem;
  font-weight: 700;
}
.menu-sign-out a {
  color: var(--primary-color);
  font-size: var(--xsm);
}
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--very-light-pinki);
  justify-self: center;
}
.desktop-menu-content li:nth-child(1),
.desktop-menu-content li:nth-child(2) {
  font-weight: bold;
}

/* Mobile Menu */

.mobile-menu-container {
  width: 300px;
  height: auto;
  display: flex;
}
.mobile-menu {
  width: 100%;
}
.mobile-menu-button {
  align-self: flex-start;
  border: none;
  background-color: transparent;
}
.mobile-menu-content {
  font-weight: bold;
  padding-left: 0;
  gap: 1.5rem;
}
.mobile-email {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: var(--xsm);
}
.mobile-email-sign-out {
  padding-left: 0;
  padding-top: 1rem;
  margin-bottom: 0;
}

/* My order */
.my-order-container {
  display: grid;
  width: 25rem;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}
.my-order-total {
  background-color: var(--text-input-field);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.75rem;
  border-radius: 0.5rem;
}
.my-order-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1.5rem;
}
.my-order-total .price {
  padding-right: 1.5rem;
  color: var(--dark-color);
}
.my-order-info .description {
  margin-top: 0;
  font-size: var(--sm);
}

.my-order-info :nth-child(1) {
  margin-bottom: 0;
  font-weight: 700;
  font-size: var(--md);
}
.my-order-cards {
  width: 100%;
  gap: 1rem;
  display: grid;
}
.my-order-image {
  width: 73px;
  height: 73px;
}
.card-my-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-my-order figure {
  margin: 0;
}
.card-my-order .description {
  font-weight: 400;
  font-size: var(--sm);
}
.card-image-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.card-my-order .price {
  color: var(--dark-color);
  padding-right: 1.5rem;
}
/* My orders */
.my-orders-container {
  margin-top: 1rem;
  width: 22rem;
  display: grid;
  grid-template-rows: auto auto;
  place-items: start;
  gap: 2rem;
}
.my-order-price {
  display: flex;
  flex-direction: row;
}
.my-orders-total {
  background-color: transparent;
}
.my-orders-info {
  padding-left: 0;
}
.my-orders-list {
  width: 100%;
}
/* Navbar */

.navbar {
  width: 90%;
  height: 3.37rem;
  display: flex;
  justify-content: space-between;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.dropdown-icon {
  display: none;
  width: ;
}
.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.navbar-list a {
  text-decoration: none;
  color: var(--very-light-pinki);
  font-weight: 500;
  font-size: var(--md);
  line-height: 20px;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.navbar-logo {
  margin-bottom: 0;
}
.navbar-left ul li a:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: 700;
}

@media (max-width: 640px) {
  .logo-img {
    display: none;
  }

  .form-create,
  .form-edit {
    justify-content: space-between;
  }
  .my-order-title {
    visibility: hidden;
  }
  .dropdown-icon {
    display: block;
    width: 1.5rem;
  }
  .navbar-left ul {
    display: none;
  }
  .email {
    display: none;
  }
  .navbar {
    justify-content: space-around;
    padding: 0;
  }
}
/* Product Detail Image */
.detail-product-container {
  width: 25%;
  height: auto;
}

.product-detail-card {
  width: 100%;
  position: relative;
}
.product-detail-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 0.5rem;
}
.add-to-cart-btn img {
  color: var(--background-color);
}
.product-detail-info {
  padding: 2rem;
}
.card-close-button {
  position: absolute;
  top: 2%;
  left: 2%;
  border-radius: 50%;
  padding: 0.8rem;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.button-slider {
  background-color: var(--text-input-field);
  height: 0.7rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.button-slider:hover {
  background-color: var(--very-light-pinki);
}
.product-detail-title {
  font-size: var(--lg);
  margin-top: 0;
}
.product-detail-description {
  font-size: var(--md);
  padding-bottom: 2.4rem;
}
.product-detail-price {
  font-size: var(--lg);
  margin: 0;
}

/* My order */
.my-order-container {
  display: grid;
  width: 25rem;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}
.my-order-total {
  background-color: var(--text-input-field);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.75rem;
  border-radius: 0.5rem;
}
.my-order-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1.5rem;
}
.my-order-total .price {
  padding-right: 1.5rem;
  color: var(--dark-color);
}
.my-order-info .description {
  margin-top: 0;
  font-size: var(--sm);
}

.my-order-info :nth-child(1) {
  margin-bottom: 0;
  font-weight: 700;
  font-size: var(--md);
}
.my-order-cards {
  width: 100%;
  gap: 1rem;
  display: grid;
}
.my-order-image {
  width: 73px;
  height: 73px;
}
.card-my-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-my-order figure {
  margin: 0;
}
.card-my-order .description {
  font-weight: 400;
  font-size: var(--sm);
}
.card-image-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.card-my-order .price {
  color: var(--dark-color);
  padding-right: 1.5rem;
}
/* My orders */
.my-orders-container {
  margin-top: 1rem;
  width: 22rem;
  display: grid;
  grid-template-rows: auto auto;
  place-items: start;
  gap: 2rem;
}
.my-order-price {
  display: flex;
  flex-direction: row;
}
.my-orders-total {
  background-color: transparent;
}
.my-orders-info {
  padding-left: 0;
}
.my-orders-list {
  width: 100%;
}

@media (max-width: 640px) {
  .logo-img {
    display: block;
  }

  .form-create,
  .form-edit {
    justify-content: space-between;
  }
  .my-order-title {
    visibility: hidden;
  }
}
